<div class="flex lg:flex-row flex-col justify-between mx-4 my-8">
    <%= form_with url: filter_episodes_path, method: :get, data: {turbo_frame: "episodes", controller: 'search-form', search_form_target: 'form'} do |form| %>
        <%= form.text_field :search, placeholder: "Search...", class: 'text-black mt-6 w-full lg:w-72 rounded-3xl', data: {action: "input->search-form#search"} %>
    <% end %>
    <div class="flex mt-4 lg:mt-0">
        <% if source != 'history'%>
            <%= form_with url: filter_episodes_path, method: :get, class: 'flex flex-col mr-4', data: {turbo_frame: "episodes"} do |form| %>
                <%= form.label "Played", class:"mb-1" %>
                <%= form.select :status, [['All', nil],['Played', 'done'], ['In Progress', 'in_progress'],['New', 'new']], {}, {class: 'bg-slate-900 rounded rounded-3xl', onchange: 'this.form.requestSubmit()'} %>
            <% end %>
        <% end %>

        <% if source != 'favorites' %>
            <%= form_with url: filter_episodes_path, method: :get, data: {turbo_frame: "episodes"}, class: 'flex flex-col' do |form| %>
                <%= form.label "Favorites", class: "mb-1" %>
                <%= form.select :show_starred, [['All', nil], ['Favorites only', 1], ['Non-favorites only', 0]], {}, {class: 'bg-slate-900 rounded-3xl', onchange: "this.form.requestSubmit()"} %>
            <% end %>
        <% end %>
    </div>
    
</div>