<nav class="w-full flex flex-grow items-center bg-zinc-700 p-6">
    <h1 class="font-bold text-2xl mr-8">
        <%= link_to "SpotifyPodcasts", home_path %>
    </h1>
    <% if Current.user.present? %>
        <div class="flex flex-grow font-semibold">
            <div class="mr-4">
                <%= link_to "My Episodes", episodes_path %>
            </div>

            <div class="mr-4">
                <%= link_to "Favorites", favorites_path %>
            </div>
            <div class="mr-4">
                <%= link_to "History", history_path %>
            </div>
        </div>
        <div data-controller="navbar">
            <div data-action="click->navbar#toggle" class="flex items-center border-green-600 border-2 rounded-3xl px-3 py-2 hover:opacity-70 hover:cursor-pointer font-semibold">
                <img src="<%= Current.user.image %>" alt="profile" width="30" height="30" class="rounded-3xl mr-2"/>
                <%= Current.user.name %>
                <i data-navbar-target="icon" class="fa-solid fa-caret-down ml-2"></i>
            </div>
            <div data-navbar-target="menu" class="hidden fixed">
                <%= button_to "Sign out", signout_path, method: :delete, class: "bg-red-500 rounded px-16 py-2 hover:opacity-70 hover:cursor-pointer" %>
            </div>
        </div>
    <% end %>
</nav>