<%= turbo_frame_tag episode do %>
    <div class="flex lg:flex-row flex-col justify-between w-full border-t-2 border-gray-500 p-4">
        <div class="flex">
            <img src="<%= episode.image%>" alt="profile" class="w-28 h-28 rounded"/>
            <div class="ml-8">
                <h3 class="text-ellipses">
                    <%= episode.name%>
                </h3>
                <h4 class="text-sm mt-1 text-slate-400">
                    <%= episode.show%>
                </h4>
                <div class="mt-6">
                    
                        <% if (episode.status == 'done') %>
                            <i class="fa-solid fa-check text-green-500"></i> Played
                        <% else %>
                            <div class="h-2.5 w-52 bg-gray-600 rounded-full mb-1">
                                <div class="rounded-full h-2.5 bg-green-500" style="width:<%= ((episode.duration - episode.progress) / episode.duration.to_f) * 100 %>%"></div>
                            </div>
                            <%= ms_to_time(episode.progress) %> left 
                        <% end %>
                    
                    
                </div>
            </div>
        </div>
        <div class="flex mt-4 lg:mt-0 lg:mr-8 self-end">
            
            <%= button_to episode_path(episode.id, episode: {starred: !episode.starred}), method: :patch, form_class: "lg:mr-2" do %>
                <% if episode.starred %>
                    <i class="fa-solid fa-heart text-xl text-green-500"></i>
                <% else %>
                    <i class="fa-regular fa-heart text-xl text-green-500"></i>
                <% end %>
            <% end %>
            <%= button_to episode_path(episode.id, episode: {last_played: DateTime.now()}, format: 'html'), method: :patch, class: "contents", data: {turbo: false} do %>
                <%= image_tag("Spotify-logo.png", class:'h-auto w-10 lg:w-12 rounded-xl', title: "Play in Spotify") %>
            <% end %>
            <% frame_id = dom_id(episode, "youtube_form") %>
            <% unless episode.youtube_id.blank? %>
                <%= link_to episode_path(episode) do %>
                    <i class="fa-brands fa-youtube text-red-500 text-3xl"></i>
                <% end %>
            <% else %>
                <%= link_to edit_episode_path(episode), data: {turbo_frame: frame_id} do %>
                    <i class="fa-solid fa-plus text-white text-2xl"></i>
                <% end %>
            <% end %>
            
        </div>
        
        
    </div>

         <%= turbo_frame_tag frame_id do %>
        <% end %>
    
   
<% end %>